@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #2978b5;
    --color-text: #555;
    --color-text-alt: #444;
    --color-background: #fcfcfc;
    --color-background-alt: #fff;
  }

  body[class~="dark"] {
    --color-primary: #90a0d9;
    --color-text: #bdbddd;
    --color-text-alt: #cdcdff;
    --color-background: #23283e;
    --color-background-alt: #2a2f4c;
  }
}


body {
  @apply bg-background text-text font-sans antialiased;
  font-family: Poppins, sans-serif;
}

.container {
  @apply mx-auto;
  max-width: 1200px;
  width: 90%;
}

.link {
  @apply text-primary relative;
  padding-bottom: 0.3rem;

  &::before {
    @apply absolute inline w-0 bottom-0 bg-primary left-0;
    content: '';
    height: 0.2em;
    transition: width 0.2s ease-in;
  }

  &:hover::before,
  &:focus::before {
    width: 100%;
  }
}

.menu {
  @apply hidden sm:flex items-center gap-6;
  @media screen and (max-width: 639px) {
    @apply fixed top-0 left-0 w-full h-full flex-col justify-center items-center bg-background-alt z-10;
    &.show {
      @apply flex;
    }
  }
}


.btn {
  @apply block cursor-pointer lowercase font-medium;
  padding: 0.8em 1.4em;
  font-size: 0.9rem;
  transition: transform 0.2s ease-in-out;

  &.btn-outline {
    @apply text-primary border-2 border-primary relative overflow-hidden;
    z-index: 1;

    &::before {
      @apply absolute left-0 top-0 bottom-0 bg-primary;
      content: '';
      right: 100%;
      z-index: -1;
      transition: right 0.2s ease-in-out;
    }

    &:hover,
    &:focus {
      @apply text-background;
      &::before {
        right: 0;
      }
    }
  }
}

.section {
  @apply pt-4 md:pt-20 pb-12;
}

.section-title {
  @apply uppercase mb-12 text-center text-3xl font-bold;
}

.skill {
  @apply cursor-pointer bg-background-alt px-2 py-1.5 transition-all duration-200 ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

  &:hover {
    transform: translateY(-4px);
  }
}


.project {
  @apply bg-background-alt p-5 transition-all duration-200 ease-in-out rounded-sm flex flex-col gap-4 justify-between;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

  &:hover {
    transform: translateY(-7px);
  }
}